# OSX
.DS_Store

# Expo
.expo/
dist/
web-build/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# iOS
pods/
*.xcworkspace
*.pbxproj
*.xcuserstate
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.xccheckout
*.xcscmblueprint

# VSCode
.vscode/

# Temporary files
*.swp
*.swo
*~

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
